.space-image {
    /* allow image to shrink but not stretch */
    max-width: 100%;
    height: auto;
    border-radius: 28px;
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.col {
    flex: auto;
    text-align: center;
}

.container {
    background-color: slategray;
}

input {
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

.App-content {
    background-color: slategray;
}