.space-image {
    max-height: 33vh;
    max-width: 33vw;
    border-radius: 8px;
    margin-top: 5px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    flex: auto;
}

.container {
    background-color: darkgrey;
}