.space-image {
    /* allow image to shrink but not stretch */
    max-width: 100%;
    height: auto;
    border-radius: 28px;
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.col {
    flex: auto;
    text-align: center;
}

.container {
    background-color: slategray;
}

.api_key {
    margin: 5px;
    border-radius: 5px;
    width: 500px;
    height: 25px;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    text-align: center;
}

.submit {
    margin: 5px;
    border-radius: 5px;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    text-align: center;
}

input:hover {
    opacity: 0.75;
}

.App-content {
    background-color: slategray;
}